<!-- NAVBAR-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#home">BitNews</a>
      
    </div>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">Top News</a></li>
        <li><a href="#services">For You</a></li>
        <li><a href="#portfolio">Bookmarks</a></li>
        <li><a href="#timeline">Timeline</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
        
      </ul>
      
    </div>
  </div>
</nav>