{% extends 'layout.html' %}
{% block head %}
 <style type="text/css">
      .lds-facebook {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #4CAF50;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
      }


      @keyframes lds-facebook {
        0% {
          top: 6px;
          height: 51px;
        }
        50%, 100% {
          top: 19px;
          height: 26px;
        }
      }
  </style>
 
{% endblock %}

{% block body %}
<!-- Sidebar/menu -->
<script src="/static/js/addarticle.js"></script>


<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/static/img/profile-default.png" style="width:45%;" class="w3-round"><br><br>
    <div class="navbar">
<a href="#bitnews" class="w3-bar-item"> <h4 ><b>BitNews</b></h4></a>
    </div>
    <p class="w3-text-grey">Aniketh Nair</p>

  </div>
  <div class="w3-bar-block navbar">
    <a href="index" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-arrow-left fa-fw w3-margin-right"></i>GO BACK</a> 
    
    <a href="#timeline" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sliders fa-fw w3-margin-right" aria-hidden="true"></i>SETTINGS</a>
  
  </div>
  
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
<!-- Header -->
  <header id="bitnews">
    <a href="#"><img src="/static/img/profile-default.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
     <div class="header " id="myHeader">
    <span class="w3-button w3-hide-large w3-xxlarge sticky head" onclick="w3_open()" style="background-color: #666; margin-top: 5px;"><i class="fa fa-bars"></i></span>
 
  </div>
<div class="w3-container">
  <div class="w3-card-4">
    <div class="w3-container w3-green">
      <h2>Add Article</h2>
    </div>

    <form class="w3-container w3-padding">
      <p><label>News Category</label></p>   
      <select class="w3-select" name="news_source">
        <option value="nytimes">nytimes</option>
        <option value="hindustantimes">hindustantimes</option>
      </select>

      <p>
        <label>Article Short Description</label></p>   
            <p>
            <textarea rows="5" cols="30" name="description" placeholder="Enter SHORT Description HERE" ></textarea>
      </p>
            
      <p>  
      <input class="w3-input" type="text" name="article_url">
      <label>ARTICLE URL</label></p>

      <p>  
      <input class="w3-input" type="text" name='article_title'>
      <label>Article Title</label></p>


      <p>  
      <input class="w3-input" type="text" name='image_url'>
      <label>Image SOURCE URL</label></p>
      <p> 


      <p>
        <input class="w3-input" type="date" name="date_publish">
        <label>Date Publish</label>
      </p> 

      <label><b>News Category: &nbsp; </b></label>

      <input class="w3-radio" type="radio" name="newscategory" value="politics" ><label>politics</label>
      <input class="w3-radio" type="radio" name="newscategory" value="business"><label>business</label>
      <input class="w3-radio" type="radio" name="newscategory" value="technology"><label>technology</label>
      <input class="w3-radio" type="radio" name="newscategory" value="science" ><label>science</label>
      <input class="w3-radio" type="radio" name="newscategory" value="health"><label>health</label>
      <input class="w3-radio" type="radio" name="newscategory" value="sports"><label>sports</label>
      <br><br>
    </p>

      <p>  
      
      <label>Article Text</label></p>
      
      <p>
      <textarea rows="15" cols="100" name="article_text" placeholder="Enter Article Main Text HERE"></textarea>
</p>
      
      <button class="w3-btn w3-green" type="button" id="sub_btn">Submit</button>



    </form>
  </div>
</div>

{% endblock %}