{% extends 'layout.html' %}
{% block head %}
 <style type="text/css">
      .lds-facebook {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #4CAF50;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
      }


      @keyframes lds-facebook {
        0% {
          top: 6px;
          height: 51px;
        }
        50%, 100% {
          top: 19px;
          height: 26px;
        }
      }
  </style>
{% endblock %}

{% block body %}
<script src="/static/js/page.js"></script>
<!-- Sidebar/menu -->


<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/static/img/profile-default.png" style="width:45%;" class="w3-round"><br><br>
    <div class="navbar">
<a href="#bitnews" class="w3-bar-item"> <h4 ><b>BitNews</b></h4></a>
    </div>
    <p class="w3-text-grey">{{user_name}}</p>

  </div>
  <div class="w3-bar-block navbar">
    <a href="index" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-arrow-left fa-fw w3-margin-right"></i>GO BACK</a> 
    
    <a href="#timeline" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sliders fa-fw w3-margin-right" aria-hidden="true"></i>SETTINGS</a>
  
  </div>
  
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
<!-- Header -->
  <header id="bitnews">
    <a href="#"><img src="/static/img/profile-default.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
     <div class="header " id="myHeader">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey sticky head" onclick="w3_open()" style="background-color: #666; margin-top: 5px;"><i class="fa fa-bars"></i></span>
 
  </div>

    <div class="w3-container" id="bitnews">
    <h1><b>Crawler</b></h1>
<div class="w3-section w3-bottombar w3-padding-16">
</div>

<div class="w3-container" id="nytimes">
    <h1><b>NY Times</b></h1>
<button class="article-button" onclick="" style="width:auto;">Crawl</button>
    </div>
<div class="w3-container" id="hindutimes">
    <h1><b>Hindu Times</b></h1>
    <button class="article-button" onclick="" style="width:auto;">Crawl</button>
    </div>
<hr style="border: 3px solid white" />
<img width="400" src="/static/img/bs.png">
<img  width="400" src="/static/img/lxml.png">
{% endblock %}