{% extends 'layout.html' %}

{% block body %}
<script src="/static/js/page.js"></script>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/static/img/logo.jpeg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>BitNews</b></h4>
    <p class="w3-text-grey">The World of News bits and bites</p>
  </div>
  <div class="w3-bar-block navbar">
     <a href="#join" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-sign-in fa-fw w3-margin-right"></i>JOIN</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding "><i class="fa fa-info-circle fa-fw w3-margin-right"></i>ABOUT</a> 
    <a href="#features" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>FEATURES</a>
    <a href="#developers" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>DEVELOPERS</a> 
    
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  
  <header id="join">
   
    <div class="header" id="myHeader">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey sticky head" onclick="w3_open()" style="background-color: #666; margin-top: 5px;"><i class="fa fa-bars"></i></span>
  </div>
    <div class="w3-container">
    <h1 style="margin-left: 80px;"><b>BitNews</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
     
    </div>
    </div>
  </header>
  <div>
    <!---------------------
              LOGIN
    ---------------------->
<div class="container-login">
  <form id="login_form">
    <div class="row">
      <h2 style="text-align:center">Login with Social Media or Manually</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a href="#" class="fb btnl">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
        <a href="#" class="twitter btnl">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a href="#" class="google btnl"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input class="input-login" type="text" name="login_username" placeholder="Username" required>
        <input class="input-login" type="password" name="login_password" placeholder="Password" required>
        <input class="input-login" type="submit" value="Login" >
      </div>
      
    </div>
  </form>
</div>
<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btnl" onclick="document.getElementById('signup').style.display='block'">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btnl">Forgot password?</a>
    </div>
  </div>
</div>
  </div><br>

<!---------------------
          LOGIN END
---------------------->
 <div class="w3-section w3-bottombar w3-padding-16">
     
    </div>

<!---------------------
            SIGNUP
---------------------->

<div id="signup" class="modal">
 
  <form class="modal-content animate" id="singup_form" >
  <div class="xcontainer">
  <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Modal">&times;</span>
  </div>
    <div class="container-signup">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input class="input-signup" type="text" placeholder="Enter Email" name="email" required>

      <label for="username"><b>Username</b></label>
      <input class="input-signup" type="text" placeholder="Enter Username" name="username" required>

      <label for="dob"><b>Date of Birth</b></label>
      <input class="input-signup" type="date" placeholder="Enter DOB" name="dob" required><br> <br>
      <label for="gender"><b>Gender</b></label><br>
        <input type="radio" name="gender" value="male" checked> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other  <br> <br>

   <label for="categories"><b>News Categories</b></label><br>
        <input type="checkbox" name="categories" value="sports"> Sports
  <input type="checkbox" name="categories" value="politics"> Politics
  <input type="checkbox" name="categories" value="technology"> Technology
  <input type="checkbox" name="categories" value="science"> Science
  <input type="checkbox" name="categories" value="health"> Health
  <input type="checkbox" name="categories" value="business"> Business  <br> <br>

      <label for="psw"><b>Password</b></label>
      <input class="input-signup" type="password" placeholder="Enter Password" name="password" required>
      <label>
        <input class="input-signup" type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" class="signupbtn sbutton" onclick="page.fnSignUp()">Sign Up</button>
      </div>
    </div>
  </form>
</div>


<!---------------------
        SIGNUP END
---------------------->
  <div id="about" class="w3-container w3-padding-large container-fluid" style="margin-bottom:32px">
     <div class="row">
      <h2 style="margin-left: 80px;">About BitNews</h2><br>
      <div  class="col-70">
      <h4>BitNews is the hub for summarized crisp news articles mined from your favorite new sources. Signup and read on!</h4><br>
     
    </div>
    <div class="col-30">
       <span class="fa fa-info logo slideanim"></span>

    </div>
  </div>
    <br>
    <div class="content">
        <p >A smart web based application that presents summarized news articles to the user from trusted sources. Not only does the application provide with concise news articles, the articles presented are suited to one’s preference of news that they wish to follow and read. BitNews works as a news recommendation platform assembled by means of text summarization techniques and machine learning to cater to one’s predilection and interests. Recording and storing parameters such as one’s initial preference of news topics, time spent by a person on an article, search queries, participation in polls (like, dislike), and feedback mechanisms helps in determining one’s preference of news and thus aide in conferring articles which best suite their interests. </p>
      <br>
    </div>
      
  
  </div>
<div class="w3-section w3-bottombar w3-padding-16">
     
    </div>

  <div id="features" class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h2 style="margin-left: 80px;">Features</h2>
  
  <br>
  <div class="row slideanim">
    <div class="col-30">
      <span class="fa fa-file-text logo-small"></span>
      <h4>Summarization</h4>
      <p>Compressed news bits for the users to read on the go</p>
    </div>
    <div class="col-30">
      <span class="fa fa-user-o logo-small"></span>
      <h4>Recommendation</h4>
      <p>Based on most visited categories and feedback the users will be recommended news in their home feed
</p>
    </div>
    <div class="col-30">
      <span class="fa fa-bar-chart logo-small"></span>
      <h4>Statistical Analysis</h4>
      <p>Developers analysis can be viewed alongside the summarized news articles</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-30">
      <span class="fa fa-sort-amount-asc logo-small"></span>
      <h4>Timeline</h4>
      <p>An extended feature that summarizes the events that happen on that very day</p>
    </div>
    <div class="col-30">
      <span class="fa fa-bookmark logo-small"></span>
      <h4>Bookmarks</h4>
      <p>Every user will be able to store and save articles in their account to revisit at any point of time</p>
    </div>
    <div class="col-30">
      <span class="fa fa-hourglass-end logo-small"></span>
      <h4 style="color:#303030;">Quick Loading</h4>
      <p>The articles to be viewed are loaded dynamically from a custom crawled</p>
    </div>
  </div>
  </div>
 

<div class="w3-section w3-bottombar w3-padding-16">
     
    </div>

  <div id="developers" class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h2 style="margin-left: 80px;">Developers</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center slideanim">
    <div class="col-33">
      <div class="thumbnail">
        <img src="/static/img/img_avatar2.png" alt="Paris" width="300" height="300">
        <p><strong>Aniketh Nair</strong></p>
        <p>Web Designer</p>
      </div>
    </div>
    <div class="col-33">
      <div class="thumbnail">
        <img src="/static/img/img_avatar2.png" alt="New York" width="300" height="300">
        <p><strong>Aishwarya Sharma</strong></p>
        <p>Project Leader</p>
      </div>
    </div>
    <div class="col-33">
      <div class="thumbnail">
        <img src="/static/img/img_avatar2.png" alt="San Francisco" width="300" height="300">
        <p><strong>Devwrat Tanwar</strong></p>
        <p>System Engineer</p>
      </div>
    </div>
  </div><br>
  </div>

  
  <div class="w3-black w3-center w3-padding-24">BTech IT Final Year Project</div>

<!-- End page content -->
</div>
<script >
  $(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  })

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  })
</script>
{% endblock %}