{% extends 'layout.html' %}


{% block head %}

    <style type="text/css">
      .lds-facebook {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #4CAF50;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
      }


      @keyframes lds-facebook {
        0% {
          top: 6px;
          height: 51px;
        }
        50%, 100% {
          top: 19px;
          height: 26px;
        }
      }
      .box{
        box-shadow: 0 3px 5px rgba(0,0,0,0.19);
      }


      .highlight {
        background-color: yellow;
      }
      .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.highlight-person{
background-color: #d56ff0;
}

.highlight-norp{
background-color: #38fb1a;
}


.highlight-fac{
background-color: #d85a4f;
}

.highlight-org{
background-color: #f5f60a; 
}

.highlight-gpe{
background-color: #e97280; 
}

.highlight-loc{
background-color: #6042bc; 
}

.highlight-product{
background-color: #2b999a; 
}

.highlight-event {
background-color: #cee6cf; 
}

.highlight-work_of_art{
background-color: #fa06e9; 
}

.highlight-law{
background-color: #1698b4; 
}

.highlight-language{
background-color: #2ad825; 
}

.highlight-date{
background-color: #9f82d5; 
}

.highlight-time{
background-color: #d18c66; 
}

.highlight-percent{
background-color: #76b8c2; 
}

.highlight-money{
background-color: #5eb8e4; 
}

.highlight-quantity{
background-color: #0ee5fc; 
}

.highlight-cardinal{
background-color: #2f77f6; 
}

.highlight-ordinal{
background-color: #c50f49; 
}
    
  </style>
{% endblock %}

{% block body %}
<!-- ny_times_categories = ['politics', 'business', 'technology', 'science', 'health', 'sports']
 -->

<script src="{{url_for('static', filename='vendor/randomColors.js')}}"></script>
<script src="{{url_for('static', filename='vendor/chart.js')}}"></script>
<script src="/static/js/page.js"></script>
<script src="/static/js/article.js"></script>
<!-- Sidebar/menu -->

<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/static/img/profile-default.png" style="width:45%;" class="w3-round"><br><br>
        <p class="w3-text-grey">{{user_name}}</p>

    <div class="navbar">
<a href="#bitnews" class="w3-bar-item"> <h4 ><b>BitNews</b></h4></a>
    </div>
     <i class="fa fa-search" aria-hidden="true"></i>
  <input class="input-searchbar" id="searchbar" type="search" name="search" placeholder="Search.." autocomplete="on" />
  </div>
  <div class="w3-bar-block navbar">
    <a href="#topnews" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>TOP NEWS</a> 
    <a href="#foryou" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>FOR YOU</a> 
    <a href="#bookmarks" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bookmark fa-fw w3-margin-right"></i>BOOKMARKS</a>
    <a href="/timeline" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sort-amount-asc fa-fw w3-margin-right"></i>TIMELINE</a>
<br>

    <a href="crawler" onclick="myFunction()" class="w3-bar-item w3-button w3-padding  dropbtn"><i class="fa fa-spinner fa-fw w3-margin-right" aria-hidden="true"></i>CRAWLER</a>

<a href="addarticle" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-plus-square-o fa-fw w3-margin-right" aria-hidden="true"></i>ADD ARTICLE</a>

  <a href="#timeline" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sliders fa-fw w3-margin-right" aria-hidden="true"></i>SETTINGS</a>

  <a class="w3-bar-item w3-button w3-padding" href="http://localhost:5000/logout"><i class="fa fa-arrow-left fa-fw w3-margin-right" aria-hidden="true"></i>LOGOUT</a>

  </div>
  <div>
      <h3 class="w3-padding">POPULAR TAGS</h3>
      <p class="w3-padding">
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Football</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Mumbai</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Avengers</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">DIY</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Donald Trump</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Family</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Game of Thrones</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
      </p>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="bitnews">
    <a href="#"><img src="/static/img/profile-default.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
     <div class="header " id="myHeader">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey sticky head" onclick="w3_open()" style="background-color: #666; margin-top: 5px;"><i class="fa fa-bars"></i></span>
 
  </div>

    <div class="w3-container" id="bitnews">
    <h1><b>BitNews</b></h1>

 <form class="w3-center" style="" onSubmit="return false;" autocomplete="off">
 
</form>
    <div class="w3-section w3-bottombar w3-padding-16" style="font-weight: 800;">
      <span class="w3-margin-right">Filter:</span> 
      <button class="w3-button w3-black box" tabs="category" value='all' tab_name="all" style="height: 50px;">ALL</button>
      <button class="w3-button w3-white box" tabs="category" value='politics' tab_name='politics'><i class="fa fa-map-marker w3-margin-right" style="font-size: 30px;"></i>Politics</button>
      <button class="w3-button w3-white w3-hide-small box" tabs="category" value='business' tab_name='business'><i class="fa fa-globe w3-margin-right" style="font-size: 30px;"></i>Business</button>
      <button class="w3-button w3-white w3-hide-small box" tabs="category"  value='technology' tab_name='technology'><i class="fa fa-briefcase w3-margin-right" style="font-size: 30px;" ></i>Technology</button>
      <button class="w3-button w3-white w3-hide-small box" tabs="category" value='science' tab_name='science'><i class="fa fa-desktop w3-margin-right" style="font-size: 30px;" ></i>Science</button>
      <button class="w3-button w3-white w3-hide-small box" tabs="category" value='health' tab_name='health'><i class="fa fa-medkit w3-margin-right" style="font-size: 30px;"></i>Health</button>
      <button class="w3-button w3-white w3-hide-small box" tabs="category" value='sports'  tab_name='sports'><i class="fa fa-futbol-o w3-margin-right" style="font-size: 30px;" ></i>Sports</button>
    </div>
    </div>
  </header>
  
  <div class="w3-container" id="topnews">
    <h1><b>Top News</b></h1>
    <a class="w3-right w3-hover-opacity" href=""><p>More Top News</p></a>
  </div>

  <!-- First Photo Grid-->
  <div id="topnews_section" class="box">
 
  </div>


  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
<div class="w3-section w3-bottombar w3-padding-16">
</div>

  <div class="w3-container" id="foryou">
    <h1><b>For You</b></h1>
    
  </div>
  <!-- First Photo Grid-->
  <div id="fornews_section"></div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

<div class="w3-section w3-bottombar w3-padding-16">
</div>

<!--------------------
        ARTICLE MODEL
--------------------->
<div id="id01" class="amodal">

  <div class="amodal-content animate">

    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
       <div class="tab">
  <button class="tablinks tabbutton active" onclick="openTab(event, 'summary')">Summary</button>
  <button class="tablinks tabbutton" onclick="openTab(event, 'statistics')">Statistics</button>
  <button class="tablinks tabbutton" onclick="openTab(event, 'ner_content')">NER_recognition</button>
<br>
    </div>
    </div>
  <div id="summary" class="tabcontent" style="display: block;">
    <h1 class="imgcontainer" id="modal_headline"></h1>
   

<article class="art">
 <p id="summary_text" style="font-size: 1.2em"></p>
</article>

    <div class="container" style="background-color:#f1f1f1">
      Summarization Algorithms: 
      <input type="radio" class="w3-radio" value="lsa" name="optradio"><b>LSA</b></input>
      <input type="radio" class="w3-radio" value="textrank" name="optradio" checked><b>TextRank</b></input>
      <input type="radio" class="w3-radio" value="lexrank" name="optradio"><b>LexRank</b></input>
      <input type="radio" class="w3-radio" value="featured" name="optradio" ><b>FeaturedAlgo</b></input>
      <hr>
      Number of Sentences : <input class="w3-input" style="width:10%" type="number" min="2" max="10" name="sentence_length_article" value="7"> 

    </div>

      <p>Original length: <span style="font-weight: bold" id="orig_len"> </span></p>

   <div class="container">
     <a target="_blank" id="orig_article_link" href="">View Original</a>
   </div>


</div>
    <div class="container" style="background-color:#f1f1f1">
      
<div id="statistics" class="tabcontent">
  
  <p>Algorithm: <span style="font-weight: bold" class="sum_algo"></span></p>
  <p>Tags:</p>
      <!--CHART.JS-->


    <div class="w3-row">
      <div class="w3-half  w3-container w3-margin-bottom" id="chart_sect_1"><canvas id="headline_sentiment"></canvas></div>
      <div class="w3-half  w3-container w3-margin-bottom" id="chart_sect_2"><canvas id="content_sentiment"></canvas></div>
      <div class="w3-half  w3-container w3-margin-bottom" id="chart_sect_3"><canvas id="wc_algo"></canvas></div>
      <div class="w3-third  w3-container w3-margin-bottom" id="chart_sect_4"><canvas id="headline_sentiment_pi"></canvas></div>
      <div class="w3-third w3-container w3-margin-bottom" id="chart_sect_5"><canvas id="content_sentiment_pi"></canvas></div>
      <div class="w3-twothird w3-container w3-margin-bottom" id="chart_sect_6"><canvas id="sentence_wise_senti"></canvas></div>
      <div class="w3-half w3-container w3-margin-bottom" id="chart_sect_7"><canvas id="key_phrase_freq"></canvas></div>
      <div class="w3-half w3-container w3-margin-bottom" id="chart_sect_8"><canvas id="spacy_ner"></canvas></div>
    </div>

</div>


<div id="ner_content" class="tabcontent">
  <p>Algorithm: <span style="font-weight: bold" class="sum_algo"></span></p>

  <p id="summary_ner_text" style="font-size: 1.2em;">
  </p>

</div>


<button type="button" onclick="document.getElementById('id01').style.display='none'" class="acancelbtn article-button">Cancel</button>
      
    </div>
  </div>
</div>


  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    -
  
    <div class="w3-third">
      <h3>Trusted Sources</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/static/img/nytimes.png" class="w3-left w3-margin-right" style="width:100px; height: 50px;">
          <span class="w3-large">The New York Times</span><br>
          <a href="https://www.nytimes.com/"><span>Visit</span></a>
          
        </li>

    </div>

<div class="w3-third " style="margin-top: 56px;">
      
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/static/img/hindustantimes.jpg" class="w3-left w3-margin-right" style="width:100px; height: 50px;">
          <span class="w3-large">The Hindustan Times</span><br>
          <a href="https://www.hindustantimes.com/"><span>Visit</span></a>
        </li>

      </ul>
    </div>
  </div>
  </footer>
  
 <div class="w3-black w3-center w3-padding-24">BTech IT Final Year Project</div>

<!-- End page content -->

<!--ADD ARTICLE-->


<!--ADD ARTICLE END-->




<script >
  $(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  })

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  })
</script>
{% endblock %}