<!DOCTYPE HTML>
<html>
<head>
	<title>BitNews</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- EXTERNAL FILES -->

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- LOCAL VENDOR FILES  -->

<script src="{{url_for('static', filename='vendor/jquery.min.js')}}"></script>

<!-- NODE MODULES  -->
<script src="{{url_for('static', filename='node_modules/sweetalert/dist/sweetalert.min.js')}}"></script>


<!-- CUSTOM CSS  -->

<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/hint.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/imagehover.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/article.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/modal.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/loader.css')}}">

<script src="{{url_for('static',filename='node_modules/pace-js/pace.js')}}"></script>
</style>

	{% block head %} {% endblock %}
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

{% block body %} {% endblock %}
</body>
</html>