{% extends 'layout.html' %}

{% block head %}
  <title>Summarizer view</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <style type="text/css">

    h1{
      font-family: 'Roboto', sans-serif;
    }
    .inpBox{
      border: 0.5px solid #ccc;
      height: 600px; 
    }

    textarea{
        width:100%;
        margin:5px 0;
        padding:3px;
        overflow:hidden;
        resize: none;
        overflow-y: scroll;
        height: 95%;
    }

    #out_content{
      padding: 10px;
      overflow-y: scroll;

    }

  </style>

  <script src="{{url_for('static', filename='js/summarizer.js')}}"></script>


{% endblock%}


{% block body%}
  <h1 class="text-center">Summarizer Tool</h1>
  
  <div class="container">
  <hr>
    <div class="row">
    <div class="col-sm-6 text-center inpBox"><textarea id="inp_content">
  TALLAHASSEE, Fla. — City Hall never did seem big enough for Andrew Gillum.

It was November 2014 — Mr. Gillum’s swearing-in as mayor of Tallahassee — and typical accommodations would not do. Traditionally, the city had inaugurated its new government quietly, in its municipal chambers. But Mr. Gillum, then 35, wanted a party. He wanted, colleagues groused, to be seen making a speech.

And seen he was.

“I won’t always get it right, but I’ll be honest,” Mr. Gillum said in an outdoor address, as a constellation of lobbyists, friends and lobbyist-friends at the city’s tailgate-style festival looked on — their faith and investment in him rewarded. “We’ve got some good times ahead, y’all.”

Four years and one long-shot campaign later, this has proved true for Mr. Gillum. With his upset victory in the Democratic primary for governor in August, Mr. Gillum, 39, has continued on a glide path to the party’s upper reaches that began about a mile down the road, as a student government leader at Florida A&M University, before he was old enough to drink. He may be elected the first black governor of the nation’s largest swing state in November, as his race against former Representative Ron DeSantis, a Trump acolyte who just turned 40, emerges as a national proxy for the parties’ dueling futures.

Mr. Gillum’s admirers see in him a hybrid of Bernie Sanders and Barack Obama — an authentic progressive who supports higher corporate taxes and greater gun control, calls for the impeachment of President Trump and Medicare for all, and can inspire young and minority voters in a state that last elected a Democratic governor in 1994. And in recent days, he has been ubiquitous, in his city and on television, as he managed the fallout from Hurricane Michael, at one point commandeering a chain saw himself to help clear tree debris.

Yet an examination of Mr. Gillum’s record lays bare the central contradiction of his political life: Self-styled as an activist-minded populist, with a lunch-pail upbringing in south Miami-Dade County, he is also an avatar of the capital city he runs — a town powered by ambition, horse-trading and alliances with well-placed power players.

One top campaign adviser — Sean Pittman, a close friend and mentor whom Mr. Gillum met as a student at Florida A&M — is also one of the city’s subcontracted lobbyists. Another senior strategist, Sharon Lettman-Hicks, also a confidante since college, paid the mayor a salary of $71,680 in 2017 to advise her boutique public-relations consulting firm, though he spent virtually all of his non-mayoral time running for governor. Until recently, Ms. Lettman-Hicks also served as the landlord of his campaign headquarters, collecting $38,087.50 in rent from March 2017 through August of this year, according to campaign finance records.
  </textarea></div>
      <div class="col-sm-6 inpBox" id="out_content">SUMMARIZED OUPUT</div>
    </div>
    
    <form>
      <div class="text-center" style="margin-top: 50px">
        <label class="radio-inline"><input type="radio" value='lsa'          name="optradio" checked>LSA</label>
        <label class="radio-inline"><input type="radio" value='luhn'         name="optradio">Luhn</label>
        <label class="radio-inline"><input type="radio" value='textrank'     name="optradio">TextRank</label>
        <label class="radio-inline"><input type="radio" value='lexrank'      name="optradio">LexRank</label>
     <!--    <label class="radio-inline"><input type="radio" value='sumbasic'     name="optradio">SumBasic</label>
        <label class="radio-inline"><input type="radio" value='featured'     name="optradio">Featured</label>
      -->   <br><br>
        <button class="btn btn-danger">Summarize</button>
      </div>
    </form>
{% endblock %}


