{% extends 'layout.html' %}
{% block head %}
<style>
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Open Sans", sans-serif;
  background: #FFF;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}  /* INTRO SECTION */

.intro {
  background: #4CAF50;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE */

.timeline ul {
  background: #FFF;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #9c9494;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #1fa900;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #4CAF50 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #4CAF50;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}





/* GENERAL MEDIA QUERIES */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #4CAF50 transparent transparent;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


</style>

{% endblock %}


{% block body %}
<script type="text/javascript" src="/static/vendor/chart.js"></script>
<script type="text/javascript" src="/static/js/timeline.js"></script>
<script type="text/javascript" src="/static/vendor/three.js"></script>
<script type="text/javascript" src="/static/vendor/vanta-net.js"></script>
<section class="intro" id="banner">
  <div class="container">
    <h1 style="color: white; font-size: 60px; font-weight: bold">Article TimeLine: Abstractive Summarization</h1>
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</section>
<section class="timeline">
  <div class="w3-center">
      <img src="/static/img/tf.png" width="400" height="250">  
      <img src="/static/img/colab.png" width="350" height="170">
  </div>

  <h4 id="arti_count" style="padding-left: 10px;">Articles Count: </h3>
  <h4 style="padding-left: 10px;">Data Sets: DUC 2003, DUC 2004, Giga Word</h3>
  <h4 style="padding-left: 10px;">Summarization : tensorflow seq2seq model </h4>
  <ul id="ul-abstract">

  </ul>
</section>
<!-- The Modal -->

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-green"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>Abstractive Summary Evaluation</h2>
      </header>
      <div class="w3-container" id="chart-evaluation">
        <canvas id="bar-chart" width="800" height="450"></canvas>

      </div>
      <footer class="w3-container w3-green">
        <p>Evaluation Tools: BLEU, ROUGE</p>
      </footer>
    </div>
  </div>
</div>
          
<script>
VANTA.NET({
  el: "#banner",
color: 0xffffff,
  backgroundColor: 0x1fa900,
  points: 11.00,
  maxDistance: 26.00,
  spacing: 20.00
})
</script>
{% endblock %}
